process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        enabled: true,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    withName: MULTIQC {
        publishDir = [
            path: { "${params.outdir}/MultiQC" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: MULTIQC_ILLUMINA {
        ext.prefix = "multiqc_illumina"
        publishDir = [
            path: { "${params.outdir}/MultiQC/Illumina" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: MULTIQC_NANOPORE {
        ext.prefix = "multiqc_nanopore"
        publishDir = [
            path: { "${params.outdir}/MultiQC/Nanopore" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: MULTIQC_PACBIO {
        ext.prefix = "multiqc_pacbio"
        publishDir = [
            path: { "${params.outdir}/MultiQC/Pacbio" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: GABI_SUMMARY {
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: QUAST {
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/assembly/quast" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: SHOVILL {
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/assembly/shovill" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: PROKKA {
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/annotation/prokka" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: BUSCO_BUSCO {
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/assembly/busco" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: KRAKEN2_KRAKEN2 {
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/taxonomy/kraken2" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: PYMLST_CLAMLST {
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/mlst" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'CONFINDR2JSON' {
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/qc" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'CONFINDR' {
        ext.args = "--rmlst"
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/qc" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: FASTQC {
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/qc/fastqc" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: AMRFINDERPLUS_RUN {
        ext.args = [
            "--ident_min ${params.arg_amrfinderplus_identmin}",
            "--coverage_min ${params.arg_amrfinderplus_coveragemin}",
            "--translation_table ${params.arg_amrfinderplus_translationtable}",
            params.arg_amrfinderplus_plus ? '--plus' : '',
            params.arg_amrfinderplus_name ? '--name ${meta.sample_id}' : ''
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/amr/amrfinderplus" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: HAMRONIZATION_AMRFINDERPLUS {
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/amr/amrfinderplus" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.prefix = { "${meta.sample_id}.amrfinderplus" }
    }
    withName: ABRICATE_RUN {
        ext.args =  [
            "--db ${params.arg_abricate_db}",
            "--minid ${params.arg_abricate_minid}",
            "--mincov ${params.arg_abricate_mincov}"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/amr/abricate" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: HAMRONIZATION_ABRICATE {
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/amr/abricate" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.prefix = { "${meta.sample_id}.abricate" }
    }
    withName: HAMRONIZATION_SUMMARIZE {
        publishDir = [
            path: { "${params.outdir}/AMR" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: PORECHOP_ABI {
        publishDir = [
            path: { "${params.outdir}/porechop" },
            mode: params.publish_dir_mode,
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: NANOPLOT {
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/qc/nanoplot/${meta.library_id}" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: CAT_FASTQ {
        publishDir = [
            path: { "${params.outdir}/cat" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
    withName: RASUSA {
        publishDir = [
            path: { "${params.outdir}/rasusa" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
    withName: FASTP {
        publishDir = [
            path: { "${params.outdir}/FASTP" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/custom" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
    withName: DRAGONFLYE {
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/assembly/dragonflye" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }
    withName: RENAME_SHOVILL_CTG {
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/assembly" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
    }
    withName: MOBSUITE_RECON {
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/plasmids" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: FLYE {
        ext.args = "--plasmids --pacbio-hifi"
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/assembly/flye/" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
    }
    withName: AMRFINDERPLUS_INSTALL {
        publishDir = [
            path: { "${params.reference_base}/gabi/1.0" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: BUSCO_INSTALL {
        publishDir = [
            path: { "${params.reference_base}/gabi/1.0/busco" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: KRAKEN2_DOWNLOAD {
        publishDir = [
            path: { "${params.reference_base}/gabi/1.0/kraken2" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: CONFINDR_INSTALL {
        publishDir = [
            path: { "${params.reference_base}/gabi/1.0" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: PYMLST_CLAMLST_INSTALL {
        publishDir = [
            path: { "${params.reference_base}/gabi/1.0/mlst" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
}