process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        enabled: true,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    withName: SHOVILL {
        publishDir = [
            path: { "${params.outdir}/shovill" },
            mode: params.publish_dir_mode,
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: PROKKA {
        publishDir = [
            path: { "${params.outdir}/prokka" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: AMRFINDERPLUS_RUN {
        ext.args = "--annotation_format prokka"
    }
    withName: PORECHOP_ABI {
        publishDir = [
            path: { "${params.outdir}/porechop" },
            mode: params.publish_dir_mode,
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: CAT_FASTQ {
        publishDir = [
            path: { "${params.outdir}/cat" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
    withName: RASUSA {
        publishDir = [
            path: { "${params.outdir}/rasusa" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
    withName: FASTP {
        publishDir = [
            path: { "${params.outdir}/FASTP" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/custom" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
    withName: DRAGONFLYE {
        publishDir = [
            path: { "${params.outdir}/dragonflye" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
    withName: RENAME_SHOVILL_CTG {
       publishDir = [
            path: { "${params.outdir}/shovill" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
    }
    withName: RENAME_DRAGONFLYE_CTG {
        publishDir = [
            path: { "${params.outdir}/dragonflye" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: MOBSUITE_RECON {
        publishDir = [
            path: { "${params.outdir}/plasmids/${meta.sample_id}" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: FLYE {
        ext.args = "--plasmids --pacbio-hifi"
        publishDir = [
            path: { "${params.outdir}/flye/" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
    }
    withName: AMRFINDERPLUS_INSTALL {
        publishDir = [
            path: { "${params.reference_base}/gabi/1.0" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: BUSCO_INSTALL {
        publishDir = [
            path: { "${params.reference_base}/gabi/1.0/busco" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: KRAKEN2_DOWNLOAD {
        publishDir = [
            path: { "${params.reference_base}/gabi/1.0/kraken2" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: CONFINDR_INSTALL {
        publishDir = [
            path: { "${params.reference_base}/gabi/1.0" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: PYMLST_CLAMLST_INSTALL {
        publishDir = [
            path: { "${params.reference_base}/gabi/1.0/mlst" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
       
}