params {

   references {

    'amrfinderdb' {
      db = "${params.reference_base}/gabi/0.1/amrfinder/latest"
    }
    'kraken2' {
      db = "${params.reference_base}/gabi/0.1/kraken2/minikraken2_v2_8GB_201904_UPDATE"
      url = "https://genome-idx.s3.amazonaws.com/kraken/minikraken2_v2_8GB_201904.tgz"
    }
    'busco' {
      db = "${params.reference_base}/gabi/0.1/busco/busco_downloads"
    }
    'confindr' {
      db = "${params.reference_base}/gabi/0.1/confindr"
      url = "https://gitlab.bfr.berlin/bfr_bioinformatics/aquamis_databases/-/raw/main/confindr_db.tar.gz"
    }

  }

  mlst {
    acinetobacter = "${params.reference_base}/gabi/0.1/mlst/db/acinetobacter"
    bacillus_cereus = "${params.reference_base}/gabi/0.1/mlst/db/bacillus_cereus"
    bacillus_subtilis = "${params.reference_base}/gabi/0.1/mlst/db/bacillus_subtilis"
    camylobacter = "${params.reference_base}/gabi/0.1/mlst/db/campylobacter_jejuni_coli"
    candida_albicans = "${params.reference_base}/gabi/0.1/mlst/db/candida_albicans"
    enterococcus_faecalis = "${params.reference_base}/gabi/0.1/mlst/db/enterococcus_faecalis"
    flavobacterium = "${params.reference_base}/gabi/0.1/mlst/db/flavobacterium"
    helicobacter_pylori = "${params.reference_base}/gabi/0.1/mlst/db/helicobacter_pylori"
    klebsiella_aerogenes = "${params.reference_base}/gabi/0.1/mlst/db/klebsiella_aerogenes"
    klebsiella_oxytoca = "${params.reference_base}/gabi/0.1/mlst/db/klebsiella_oxytoca"
    lactobacillus = "${params.reference_base}/gabi/0.1/mlst/db/lactobacillus"
    neisseria = "${params.reference_base}/gabi/0.1/mlst/db/neisseria"
    salmonella = "${params.reference_base}/gabi/0.1/mlst/db/salmonella"
    pseudomonas_aeruginosa = "${params.reference_base}/gabi/0.1/mlst/db/pseudomonas_aeruginosa"
    staphylococcus_aureus = "${params.reference_base}/gabi/0.1/mlst/db/staphylococcus_aureus"
    shewanella = "${params.reference_base}/gabi/0.1/mlst/db/shewanella"
    streptococcus_pyogenes = "${params.reference_base}/gabi/0.1/mlst/db/streptococcus_pyogenes"
    streptococcus_pneumoniae = "${params.reference_base}/gabi/0.1/mlst/db/streptococcus_pneumoniae"
    escherichia = "${params.reference_base}/gabi/0.1/mlst/db/escherichia"
    vibrio = "${params.reference_base}/gabi/0.1/mlst/db/vibrio_spp."
    wolbachia = "${params.reference_base}/gabi/0.1/mlst/db/wolbachia"
  }

}
