params {

  references {

    'mashdb' {
      url = 'https://obj.umiacs.umd.edu/mash/screen/RefSeq88n.msh.gz'
      db = "${params.reference_base}/gabi/${params.reference_version}/mashdb/RefSeq88n.msh"
    }
    'sourmashdb' {
      url = 'https://farm.cse.ucdavis.edu/~ctbrown/sourmash-db/gtdb-rs214/gtdb-rs214-k31.zip'
      db = "${params.reference_base}/gabi/${params.reference_version}/sourmashdb/gtdb-rs214-k31.zip"
    }
    'amrfinderdb' {
      db = "${params.reference_base}/gabi/${params.reference_version}/amrfinder/latest"
    }
    'kraken2' {
      db = "${params.reference_base}/gabi/${params.reference_version}/kraken2/minikraken2_v2_8GB_201904_UPDATE"
      url = "https://genome-idx.s3.amazonaws.com/kraken/minikraken2_v2_8GB_201904.tgz"
    }
    'busco' {
      db = "${params.reference_base}/gabi/${params.reference_version}/busco/busco_downloads"
    }
    'confindr' {
      db = "${params.reference_base}/gabi/${params.reference_version}/confindr"
      url = "https://gitlab.bfr.berlin/bfr_bioinformatics/aquamis_databases/-/raw/main/confindr_db.tar.gz"
    }
    'host_genome' {
      db = "${params.reference_base}/gabi/${params.reference_version}/biobloom/host_genomes"
      url = "http://ftp.ensembl.org/pub/release-113/fasta/equus_caballus/dna/Equus_caballus.EquCab3.0.dna.toplevel.fa.gz"
    }

  }

  mlst {
    acinetobacter = [ "abaumannii" ]
    achromobacter = ["achromobacter"]
    aeromonas     = ["aeromonas"]
    aphagocytophilum  = ["aphagocytophilum"]
    arcobacter  = ["arcobacter"]
    bacillus_bacilliformes = ["bbacilliformis"]
    bacillus_cereus = ["bcereus"]
    bacillus_fragilis = ["bfragilis"]
    bartonella_henselae = ["bhenselae"]
    bacillus_licheniformes = ["blicheniformis_14"]
    bordetella = ["bordetella_3"]
    borrelia = ["borrelia"]
    burkholderia_pseudomallei = ["bpseudomallei"]
    brachyspira = [ 
      "brachyspira",
      "brachyspira_2",
      "brachyspira_3",
      "brachyspira_4",
      "brachyspira_5" 
    ]
    brucella = ["brucella"]
    bacillus_subtilis = ["bsubtilis"]
    bartonella_washoensis = ["bwashoensis"]
    campylobacter = ["campylobacter"]
    campylobacter_nonjejuni = [
      "campylobacter_nonjejuni",
      "campylobacter_nonjejuni_2",
      "campylobacter_nonjejuni_3",
      "campylobacter_nonjejuni_4",
      "campylobacter_nonjejuni_5",
      "campylobacter_nonjejuni_6",
      "campylobacter_nonjejuni_7",
      "campylobacter_nonjejuni_8",
      "campylobacter_nonjejuni_9"
    ]
    clostridium_botulinum = ["cbotulinum"]
    clostridum_difficile = ["cdifficile"]
    citrobacter_freundii = ["cfreundii"]
    chlamydia = ["chlamydiales"]
    carnobacterium_maltaromaticum = ["cmaltaromaticum"]
    clostridum_perfringens = ["cperfringens"]
    cronobacter = ["cronobacter"]
    clostridium_septicum = ["csepticum"]
    diphtheria = ["diphtheria_3"]
    dichelobacter_nodosus = ["dnodosus"]
    enterobacter_cloacae = ["ecloacae"]
    escherichia_coli = ["ecoli","ecoli_achtman_4"]
    edwardsiella = ["edwardsiella"]
    enterococcus_faecalis = ["efaecalis"]
    enterococcus_faecium = ["efaecium"]
    flavobacterium_psychrophilum = ["fpsychrophilum"]
    gallibacterium = ["gallibacterium"]
    geotrichum = ["geotrichum"]
    helicobacter_cinaedi = ["hcinaedi"]
    helicobacter = ["helicobacter"]
    haemophilus_influenzae = ["hinfluenzae"]
    haemophilus_parasuis = [ "hparasuis" ]
    helicobacter_suis = [ "hsuis" ]
    klebsiella_aerogenes = [ "kaerogenes" ]
    kingella = [ "kingella" ]
    klebsiella = [ "klebsiella" ]
    klebsiella_oxytoca = [ "koxytoca" ]
    leptospira = [ "leptospira","leptospira_2","leptospira_3" ]
    liberibacter = [ "liberibacter" ]
    listeria = [ "listeria_2" ]
    llactis_phage = [ "llactis_phage" ]
    ligilactobacillus_salivarius = [ "lsalivarius" ]
    mycobacteroides_abscessus = [ "mabscessus" ]
    mycoplasma_agalactiae = [ "magalactiae" ]
    manserisalpingitidis = [ "manserisalpingitidis" ]
    mycobacterium_bovis = [ "mbovis_2" ]
    microsporum_canis = [ "mcanis" ]
    macrococcus_caseolyticus = [ "mcaseolyticus" ]
    moraxella_catarrhalis = [ "mcatarrhalis_achtman_6" ]
    mycoplasma_flocculare = [ "mflocculare" ]
    mycoplasma_gallisepticum = [ "mgallisepticum","mgallisepticum_2" ]
    mannheimia_haemolytica = [ "mhaemolytica" ]
    mycoplasma_hominis = [ "mhominis_3" ]
    mycoplasma_hyopneumoniae = [ "mhyopneumoniae" ]
    mycoplasma_hyorhinis = [ "mhyorhinis" ]
    mycoplasma_iowae = [ "miowae" ]
    melissococcus_plutonius = [ "mplutonius" ]
    mycoplasma_pneumoniae = [ "mpneumoniae" ]
    mammaliicoccus_sciuri = [ "msciuri" ]
    mycoplasma_synoviae = [ "msynoviae" ]
    mycobacteria = [ "mycobacteria_2" ]
    neisseria = [ "neisseria" ]
    streptococcus = [ "oralstrep" ]
    orhinotracheale = [ "orhinotracheale" ]
    otsutsugamushi = [ "otsutsugamushi" ]
    propionibacterium_acnes = [ "pacnes_3" ]
    pseudomonas_aeruginosa = [ "paeruginosa" ]
    photobacterium_damselae = [ "pdamselae" ]
    pseudomonas_fluorescens = [ "pfluorescens" ]
    porphyromonas_gingivalis = [ "pgingivalis" ]
    paenibacillus_larvae = [ "plarvae" ]
    pasteurella_multocida = [ "pmultocida","pmultocida_2" ]
    ppentosaceus = [ "ppentosaceus" ]
    pseudomonas_putida = [ "pputida" ]
    piscirickettsia_salmonis = [ "psalmonis" ]
    riemerella_anatipestifer = [ "ranatipestifer" ]
    rhodococcus = [ "rhodococcus" ]
    streptococcus_agalactiae = [ "sagalactiae" ]
    staphylococcus_aureus = [ "saureus" ]
    streptococcus_bovis = [ "sbsec" ]
    streptococcus_equinus = [ "sbsec" ]
    streptococcus_canis = [ "scanis" ]
    staphylococcus_chromogenes = [ "schromogenes" ]
    streptococcus_dysgalactiae = [ "sdysgalactiae" ]
    salmonella_enterica = [ "senterica_achtman_2" ]
    sepidermidis = [ "sepidermidis" ]
    streptococcus_gallolyticus = [ "sgallolyticus" ]
    staphylococcus_haemolyticus = [ "shaemolyticus" ]
    shewanella = [ "shewanella" ]
    staphylococcus_hominis = [ "shominis" ]
    sinorhizobium = [ "sinorhizobium" ]
    stenotrophomonas_maltophilia = [ "smaltophilia" ]
    streptococcus_pneumoniae = [ "spneumoniae" ]
    staphylococcus_pseudintermedius = [ "spseudintermedius" ]
    streptococcus_pyogenes = [ "spyogenes" ]
    streptococcus_suis = [ "ssuis" ]
    staphlugdunensis = [ "staphlugdunensis" ]
    streptococcus_thermophilus = [ "sthermophilus" ]
    streptomyces = [ "streptomyces" ]
    streptothermophilus = [ "streptothermophilus" ]
    streptococcus_uberis = [ "suberis" ]
    streptococcus_zooepidemicus = [ "szooepidemicus" ]
    taylorella = [ "taylorella" ]
    tenacibaculum = [ "tenacibaculum" ]
    treponema_pallidum = [ "tpallidum" ]
    ureaplasma = [ "ureaplasma" ]
    vibirio_cholerae = [ "vcholerae", "vcholerae_2" ]
    vibrio = [ "vibrio" ]
    vibrio_parahaemolyticus = [ "vparahaemolyticus" ]
    vibrio_tapetis = [ "vtapetis" ]
    vibrio_vulnificus = [ "vvulnificus" ]
    wolbachia = [ "wolbachia" ]
    xylella_fastidiosa = [ "xfastidiosa" ]
    yersinia_pseudotuberculosis = [ "ypseudotuberculosis_achtman_3" ]
    yersinia_ruckeri = [ "yruckeri" ]

  }

  cgmlst {
    escherichia = "${params.reference_base}/gabi/${params.reference_version}/mlst/cgmlst_db/escherichia"
    listeria_monocytogenes = "${params.reference_base}/gabi/${params.reference_version}/mlst/cgmlst_db/listeria_monocytogenes"
    klebsiella_pneumoniae = "${params.reference_base}/gabi/${params.reference_version}/mlst/cgmlst_db/klebsiella_pneumoniae"
    staphylococcus_aureus = "${params.reference_base}/gabi/${params.reference_version}/mlst/cgmlst_db/staphylococcus_aureus"
    acinetobacter_baumannii = "${params.reference_base}/gabi/${params.reference_version}/mlst/cgmlst_db/acinetobacter_baumannii"
    salmonella_enterica = "${params.reference_base}/gabi/${params.reference_version}/mlst/cgmlst_db/salmonella_enterica"
    campylobacter = "${params.reference_base}/gabi/${params.reference_version}/mlst/cgmlst_db/campylobacter"
    clostridium_perfringens = "${params.reference_base}/gabi/${params.reference_version}/mlst/cgmlst_db/clostridium_perfringens"
    streptococcus_pyogenes = "${params.reference_base}/gabi/${params.reference_version}/mlst/cgmlst_db/streptococcus_pyogenes"
    klebsiella_oxytoca = "${params.reference_base}/gabi/${params.reference_version}/mlst/cgmlst_db/klebsiella_oxytoca"
  }

  chewbbaca {
    streptococcus_pyogenes = "${params.reference_base}/gabi/${params.reference_version}/chewbbaca/schema_1/Streptococcus_pyogenes_wgMLST"
    acinetobacter_baumannii = "${params.reference_base}/gabi/${params.reference_version}/chewbbaca/schema_2/Acinetobacter_baumannii_cgMLSTRidom"
    arcobacter_butzleri = "${params.reference_base}/gabi/${params.reference_version}/chewbbaca/schema_3/Arcobacter_butzleri_wgMLST"
    campylobacter_jejuni = "${params.reference_base}/gabi/${params.reference_version}/chewbbaca/schema_4/Campylobacter_jejuni_INNUENDO_wgMLST"
    campylobacter_coli = "${params.reference_base}/gabi/${params.reference_version}/chewbbaca/schema_4/Campylobacter_jejuni_INNUENDO_wgMLST"
    escherichia_coli = "${params.reference_base}/gabi/${params.reference_version}/chewbbaca/schema_5/Escherichia_coli_INNUENDO_wgMLST"
    listeria_monocytogenes = "${params.reference_base}/gabi/${params.reference_version}/chewbbaca/schema_6/Listeria_monocytogenes_Pasteur_cgMLST"
    yersinia_enterocolitica = "${params.reference_base}/gabi/${params.reference_version}/chewbbaca/schema_7/Yersinia_enterocolitica_INNUENDO_wgMLST"
    salmonella_enterica = "${params.reference_base}/gabi/${params.reference_version}/chewbbaca/schema_8/Salmonella_enterica_INNUENDO_cgMLST"
    streptococcus_agalactiae = "${params.reference_base}/gabi/${params.reference_version}/chewbbaca/schema_9/Streptococcus_agalactiae_wgMLST"
    brucella_melitensis = "${params.reference_base}/gabi/${params.reference_version}/chewbbaca/schema_10/Brucella_melitensis_Bm_cgMLST_95"
    brucella = "${params.reference_base}/gabi/${params.reference_version}/chewbbaca/schema_11/Brucella_Brucella_cgMLST"
    clostridium_perfringens = "${params.reference_base}/gabi/${params.reference_version}/chewbbaca/schema_12/Clostridium_perfringens_Cp_cgMLST"
    clostridium_chauvoei = "${params.reference_base}/gabi/${params.reference_version}/chewbbaca/schema_13/Clostridium_chauvoei_Cc_cgMLST"
    bacillus_anthracis = "${params.reference_base}/gabi/${params.reference_version}/chewbbaca/schema_14/Bacillus_anthracis_Ba_cgMLST"
    klebsiella_oxytoca = "${params.reference_base}/gabi/${params.reference_version}/chewbbaca/schema_15/Klebsiella_oxytoca_cgMLST95"
    clostridium_neonatale = "${params.reference_base}/gabi/${params.reference_version}/chewbbaca/schema_16/Clostridium_neonatale_cgMLST95"
  }

}
