params {

   references {

    'amrfinderdb' {
      db = "${params.reference_base}/gabi/0.1/amrfinder/latest"
    }
    'kraken2' {
      db = "${params.reference_base}/gabi/0.1/kraken2/minikraken2_v2_8GB_201904_UPDATE"
      url = "https://genome-idx.s3.amazonaws.com/kraken/minikraken2_v2_8GB_201904.tgz"
    }
    'busco' {
      db = "${params.reference_base}/gabi/0.1/busco/busco_downloads"
    }
    'confindr' {
      db = "${params.reference_base}/gabi/0.1/confindr"
      url = "https://gitlab.bfr.berlin/bfr_bioinformatics/aquamis_databases/-/raw/main/confindr_db.tar.gz"
    }

  }
  
}
