// Example test config - requires a minimal set of input data (to be hosted in marchoeppner/nf-testdata)
params {

	samples = "https://raw.githubusercontent.com/marchoeppner/nf-testdata/master/deepvariant/samples.csv"
	intervals = "https://raw.githubusercontent.com/marchoeppner/nf-testdata/master/deepvariant/test-targets.bed"
	email = "marc.hoeppner@lsh.landsh.de"
	run_name = "pipeline_test"
	max_cpus = 6
}
